* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, Arial, sans-serif;
}
body {
    margin: 0;
    font-size: 16px;
    padding-top: 100px ;
}

header {
    width: 100%;
    background: url(../imagens/backgroundgrid.png);
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    position: fixed;
    top: 0;
}

header nav {
    float: right;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin: 50px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 800;
    transition: all .5s;
}

header nav ul li a:hover {
    color: rgb(0, 149, 255);
    font-size: 17px;   
}

header nav ul li .btnHeader {
    background: rgb(255, 155, 0);
    padding: 5px 10px;
    border-radius: 5px;
    transition: all .5s;
}

header nav ul li .btnHeader:hover {
    background: white;
    color: rgb(255, 155, 0);
}

h1 {
    margin: 30px;
    color: rgb(0, 149, 255);;
    text-align: center;
}

.banner{
    background: url(../imagens/banner.png);
    width: 100%;
    height: 600px;
    background-size: cover;
    display: grid;
    place-items: center;
}

.video-container {
    width: 100%;
    max-width: 800px;
    margin: 30px;
}

.video-container iframe {
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

.container {
    width: 100%;
    display: grid;
    place-items: center;
    background-color: white;
    margin: 30px 0;
}

.sobre-container {
    max-width: 1000px;
    text-align: center;
    display: grid;
}

.sobre-container p {
    line-height: 30px;
    margin: 30px;
}

.galeria-container {
    margin: 100px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 20px;
    margin: 30px;
    width: 100%;
    max-width: 1800px;
}

.col .img {
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.video-container .img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.game-container {
    width: 100%;
    max-width: 900px;
    border-radius: 5px;
    margin: 30px 0 30px 0;
}

.game-container iframe {
    width: 100%;
    height: 480px;
    width: 854px;
    border-radius: 5px;
}

label {
    font-weight: bold;
}

.formulario {
    width: 100%;
    max-width: 1000px;
    padding: 10px;
    border-radius: 5px;
    display: grid;
    margin: 30px auto;
}

.formulario-container {
    width: 100%;
    display: block;
    place-items: center;
}

.formulario:focus {
    background: rgb(255, 255, 225);
}

.btn {
    margin: auto;
    background: rgb(255, 155, 0);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 100px;
    color: white;
    transition: all .5s;
}

.grid .btn {
    padding-left: 30px;
    margin-left: 30px;
    display: inline-block;
}

.btn:hover {
    color: rgb(255, 155, 0);
    background: white;
    font-size: 17px;
    border: 5px solid rgb(255, 155, 0);
    cursor: pointer;
}

.btn-submit, .btn-reset {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    width: 200px;
    margin-left: 20%;
    place-items: center;
    transition: all 0.5s
}

.btn-submit {
    background: green;
}

.btn-reset {
    background: red;
}

.btn-submit:hover {
    background: white;
    color: green;
    font-size: 17px;
    cursor: pointer;
    border: 5px solid green;
}

.btn-reset:hover {
    background: white;
    color: red;
    font-size: 17px;
    cursor: pointer;
    border: 5px solid red
}

footer {
    width: 100%;
    background: url(../imagens/backgroundgrid.png);
    margin-top: 10px;
    padding: 30px 0px;
    color: white;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
}

footer p a {
    display: inline-block;
}

footer a {
    background: white;
    color: rgb(0, 110, 190);
    text-decoration: none;
    margin: 20px;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    transition: all .5s;
}

footer a:hover {
    background: rgb(0, 110, 190);;
    color: white;
}

.menu {
    display: none;
}

.mostrar {
    display: block;
}

@media (max-width: 1000px) {
    body {
        padding-top: 90px;
    }
    
    header nav ul li {
        margin: 30px;
    }
    
    .banner {
        height: 500px;
    }
    
    .video-container {
        max-width: 90%;
    }
    
    .video-container iframe {
        height: 350px;
    }

    .container img {
        max-height: 240px;
    }

    .game-container {
        max-width: 650px;
    }
    
    .game-container iframe {
        height: 360px;
        width: 640px;
    }

    .formulario {
        max-width: 900px
    }
    
    .container {
        gap: 20px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        max-width: 90%;
    }

    .sobre-container {
        max-width: 90%;
    }
    
    img {
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }
}

@media (max-width: 480px) {
    body {
        padding-top: 70px;
        padding-right: 30px;
        margin: 0;
        width: 100%;
    }
    
    header {
        padding: 5px;
    }
    
    .header-img {
        width: 128px;
    }
    
    header nav ul {
        display: block;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    
    header nav ul li {
        display: block;
        width: 100%;
        margin: 15px 0;
    }
    
    header nav {
        display: none;
        float: none;
        width: 100%;
    }
    
    .banner {
        display: none;
    }
    
    main {
        width: 100%;
    }
    
    .video-container {
        margin: 15px;
        max-width: 100%;
    }
    
    .video-container iframe {
        height: 200px;
    }

    .game-container {
        max-width: 475px;
    }
    
    .game-container iframe {
        height: 261px;
        width: 470px;
    }
    
    .formulario {
        max-width: 400px
    }

    .container {
        margin: 15px auto;
    }
    
    .sobre-container {
        max-width: 100%;
    }
    
    h1 {
        margin: 20px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        max-width: 100%;
    }
    
    .img {
        max-width: 90%;
        max-height: 80%;
    }

    .btn {
        padding: 8px 20px;
    }

    .menu {
        display: block;
        border: 1px solid white;
        padding: 10px;
        color: white;
        float: right;
        margin-top: 15px;
        margin-right: 50px;
        border-radius: 5px;
    }
    
    footer a {
        margin: 15px;
    }

    .mostrar {
        display: block;
        position: fixed;
        margin: 0;
        margin-top: 15px;
        width: 100%;
        background: url(../imagens/backgroundgrid.png);
    }
}

